.background-home {
  background: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80') no-repeat center center fixed;
  background-size: cover;
}

.background-ide {
  background: url('../images/41949.jpg') no-repeat center center fixed;
  background-size: cover;
}

.background-contact {
  background: url('../images/earth-contact.jpg') no-repeat center center fixed;
  background-size: cover;
}

video {
  object-fit: cover;
}

div.section {
  background: #000;
}

@keyframes animate {
  0% {
    opacity: 0%;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
}

@media (min-width: 993px) {
  .text {
    font-size: 20px;
  }
}

.leaflet-container {
  position: sticky !important;
}